<nav  class="navbar navbar-expand-lg navbar-dark bg-dark" ng-controller="change">
    <a class="navbar-brand" href="#">Navbar</a>
     
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Contact</a>
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-item nav-link" routerLink="/logout">Logout</a>
    
</nav>