<div class="col" align=center style="padding-bottom: 2rem;padding-top:2rem;">
    
        <img src="assets/img/pat.png" height="200px" width="200px" >    
        
       


    <table>
            <br>
        <tr align="center">
            <td colspan="2">
                <h2>Name</h2>
            </td>
        
        </tr>
        <tr>
            <td>
                DOB
            </td>
            <td>
                <input value="askhfbajh" disabled>
            </td>
        </tr>
        <tr>
            <td>
                College
            </td>
            <td>
                <input value="askhfbajh" disabled>
            </td>
        </tr>
        <tr>
                <td>
                    Phone No
                </td>
                <td>
                    <input value="askhfbajh" disabled>
                </td>
            </tr>
            <tr>
                    <td>
                        E-mail
                    </td>
                    <td>
                        <input value="askhfbajh" disabled>
                    </td>
                </tr>
                <tr>
                        <td>
                           Aadhar No
                        </td>
                        <td>
                            <input value="askhfbajh" disabled>
                        </td>
                    </tr>
                    <tr>
                            <td>
                               Skills
                            </td>
                            <td>
                                <input value="askhfbajh" disabled>
                            </td>
                        </tr>
    </table>
    <br>
    <button class="btn btn-primary">Edit Profile</button>
    
</div>
